<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fab fa-node-js fa-3x"></i></h1>
      <p>Hesap Oluştur ya da Giriş Yap</p>
      <a href="/users/register" class="btn btn-primary btn-block  mb-2">Kayıt Ol</a>
      <a href="/users/login" class="btn btn-secondary btn-block">Giriş</a>
    </div>
  </div>
</div>